.TextInput {
  display: block;
  width: 80%;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 40px;
  padding: 15px;

  color: inherit;
  font: inherit;
  
  background-color: #FF3366;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.25);
  border: none;
  outline: none;
}

.TextInput::-webkit-input-placeholder {
  color: #fff;
}

.TextInput::-moz-placeholder {
  color: #fff;
}

.TextInput:-ms-input-placeholder {
  color: #fff;
}

.TextInput:-moz-placeholder {
  color: #fff;
}